In [1]:
import pandas as pd

## Hawaii_measurements.csv data wrangling

In [2]:
# Import csv as dataframe and inspect
measurements = pd.read_csv("hawaii_measurements.csv", parse_dates = ["date"])

In [3]:
measurements.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [5]:
# Decide what to do with Null Values -- decided to fill with 0; intepreted as 0 rainfall
measurements.fillna(0, inplace=True)
measurements['station'] = measurements['station'].astype('category')

In [9]:
measurements.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06  0.00    73

In [11]:
measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null category
date       19550 non-null datetime64[ns]
prcp       19550 non-null float64
tobs       19550 non-null int64
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 477.8 KB

In [7]:
measurements.pivot(index = "date", columns = "station", values="prcp")

station,USC00511918,USC00513117,USC00514830,USC00516128,USC00517948,USC00518838,USC00519281,USC00519397,USC00519523
date,,,,,,,,,
2010-01-01,0.05,0.28,NaN,0.14,NaN,0.21,0.15,0.08,0.15
2010-01-02,0.00,0.00,NaN,0.00,NaN,0.02,0.00,0.00,0.00
2010-01-03,0.00,0.00,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-04,0.00,0.00,NaN,0.00,NaN,0.01,0.00,0.00,0.00
2010-01-05,0.00,0.00,NaN,0.00,NaN,0.02,0.00,NaN,0.01
2010-01-06,0.08,0.02,NaN,0.36,NaN,NaN,0.01,0.00,0.11
2010-01-07,0.04,0.38,NaN,0.30,NaN,0.00,0.17,0.06,0.70
2010-01-08,0.00,0.01,NaN,0.00,NaN,0.03,0.00,0.00,0.02
2010-01-09,0.00,0.00,NaN,0.00,NaN,0.01,0.00,0.00,0.01
2010-01-10,0.00,0.00,NaN,0.01,NaN,0.01,0.00,0.00,0.00
2010-01-11,0.05,0.03,NaN,0.14,NaN,0.14,0.03,0.01,0.48
2010-01-12,0.00,0.00,NaN,0.00,NaN,0.02,0.00,0.00,0.00
2010-01-13,0.00,0.00,NaN,0.00,NaN,0.02,0.00,NaN,0.00
2010-01-14,0.00,0.00,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-15,0.00,0.00,NaN,0.00,NaN,NaN,0.00,0.00,0.00
2010-01-16,0.00,0.00,NaN,0.00,NaN,NaN,0.00,0.00,0.00
2010-01-17,NaN,0.00,NaN,0.00,NaN,NaN,0.00,0.00,0.00
2010-01-18,0.00,0.00,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-19,0.00,0.00,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-20,0.00,0.01,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-21,0.00,0.04,NaN,0.32,NaN,NaN,0.16,0.00,0.13
2010-01-22,0.00,0.00,NaN,0.00,NaN,NaN,0.00,0.00,0.00
2010-01-23,0.00,0.00,NaN,0.00,NaN,NaN,0.00,0.00,0.00
2010-01-24,0.00,0.00,NaN,0.01,NaN,NaN,0.00,0.01,0.00
2010-01-25,0.00,0.00,NaN,0.00,NaN,0.00,0.00,0.00,0.00
2010-01-26,0.03,0.00,NaN,0.03,NaN,0.13,0.01,0.04,0.01
2010-01-27,0.25,0.12,NaN,0.31,NaN,0.21,0.31,0.12,0.28
2010-01-28,NaN,0.19,NaN,0.07,NaN,0.01,0.37,0.00,0.09
2010-01-29,0.00,0.19,NaN,0.10,NaN,NaN,0.75,NaN,1.15
2010-01-30,0.40,1.70,NaN,0.33,NaN,NaN,2.17,0.00,2.75
...,...,...,...,...,...,...,...,...,...
2017-07-25,NaN,0.03,0.12,0.30,0.00,NaN,0.11,0.00,0.05
2017-07-26,NaN,0.06,0.02,0.30,0.00,NaN,0.12,0.00,0.00
2017-07-27,NaN,0.00,0.00,0.00,0.00,NaN,0.01,0.00,0.00
2017-07-28,NaN,0.13,0.14,0.40,0.01,NaN,0.09,0.00,0.00
2017-07-29,NaN,0.06,0.02,0.30,NaN,NaN,0.23,0.00,0.00
2017-07-30,NaN,0.00,NaN,0.30,NaN,NaN,0.00,0.00,0.00
2017-07-31,NaN,0.00,0.00,0.00,0.00,NaN,0.00,0.00,0.00
2017-08-01,NaN,NaN,0.12,0.00,NaN,NaN,NaN,0.02,0.00
2017-08-02,NaN,NaN,0.05,0.25,NaN,NaN,NaN,0.00,0.00
2017-08-03,NaN,NaN,0.01,0.06,NaN,NaN,NaN,0.00,0.00
2017-08-04,NaN,NaN,0.04,NaN,NaN,NaN,0.00,0.02,0.00
2017-08-05,NaN,NaN,NaN,0.00,NaN,NaN,0.06,0.00,NaN
2017-08-06,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00,0.00
2017-08-07,NaN,NaN,0.00,0.05,NaN,NaN,NaN,0.00,0.00
2017-08-08,NaN,NaN,0.10,0.34,NaN,NaN,NaN,0.00,0.00
2017-08-09,NaN,NaN,0.00,0.15,NaN,NaN,NaN,0.00,NaN
2017-08-10,NaN,NaN,0.00,0.07,NaN,NaN,NaN,0.00,0.00
2017-08-11,NaN,NaN,0.00,0.00,NaN,NaN,NaN,0.00,0.00
2017-08-12,NaN,NaN,NaN,0.14,NaN,NaN,NaN,0.00,0.00
2017-08-13,NaN,NaN,0.00,0.00,NaN,NaN,0.00,0.00,0.00
2017-08-14,NaN,NaN,0.01,0.22,NaN,NaN,0.00,0.00,0.08
2017-08-15,NaN,NaN,0.00,0.42,NaN,NaN,0.32,0.02,0.06
2017-08-16,NaN,NaN,0.00,0.42,NaN,NaN,0.12,NaN,0.07
2017-08-17,NaN,NaN,0.00,0.13,NaN,NaN,0.01,NaN,0.05
2017-08-18,NaN,NaN,0.00,0.00,NaN,NaN,0.06,0.00,NaN
2017-08-19,NaN,NaN,0.00,0.09,NaN,NaN,NaN,0.00,0.00
2017-08-20,NaN,NaN,0.01,0.00,NaN,NaN,NaN,0.00,NaN
2017-08-21,NaN,NaN,0.02,0.56,NaN,NaN,NaN,0.00,0.00
2017-08-22,NaN,NaN,NaN,0.50,NaN,NaN,NaN,0.00,0.00
2017-08-23,NaN,NaN,0.00,0.45,NaN,NaN,NaN,0.00,0.08

In [16]:
# Export to "clean_" csv
measurements.to_csv("clean_hawaii_measuremnts.csv", index = False, encoding = "utf-8")

## Hawaii_stations.csv data wrangling -- no munging needed

In [14]:
stations = pd.read_csv("hawaii_stations.csv")
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4